﻿@model IEnumerable<Instagram.Picture>

@{
    ViewBag.Title = "Index";
}
<br />
@foreach (var item in Model)
{
    <div class="row">
        <div class="pic-frame">
            <p>@Html.DisplayFor(modelItem => item.User.Username)</p>
            <img src="@Html.DisplayFor(modelItem => item.Path)" class="img-responsive pic" />
            <span class="glyphicon glyphicon-heart"></span>@Html.DisplayFor(modelItem => item.Like) Like
            <p><strong>@Html.DisplayFor(modelItem => item.User.Username)</strong> @Html.DisplayFor(modelItem => item.Caption)</p>

            @if (Session["userName"] != null)
                {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">

                        <li>@Html.ActionLink("Comment", "Create", "Comments")</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>

                    </ul>
                </div>

            }

        </div>
    </div>
    <br />
}
<style>
    .pic-frame {
        margin: 0 auto;
        max-width: 500px;
        max-height: 500px;
        border: 1px solid #f2f2f2;
    }

    .pic {
        margin: 0 auto;
        padding: 10px 5px;
        max-height: 400px;
    }
</style>