﻿@model IEnumerable<Instagram.User>
@{
    ViewBag.Title = "Index";
}
<br />
<div class="row">
    <div class="col-md-4">
        <div class="profile-frame-pic">
            <img src="https://brightestyoungthings.com/wp-content/uploads/2014/10/1374807_811074545585436_1992186006_n.jpg" class="img-circle profile-pic" />
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
        <h4>
            
            @if (Session["userName"] != null)
        {
            @Html.ActionLink(Session["userName"].ToString(), "Index", "Users")
        }
        
        </h4>
        <p><strong>199</strong> following <strong>3999</strong> follower</p>
        <p></p>
        <p><strong>44</strong> posts</p>
        <p>

        @if (Session["Firstname"] != null)
        {
        <table>
            <tr> 
                Name:
                @Html.ActionLink(Session["Firstname"].ToString(), "Index", "Users")
            </tr>

            <tr>
                  &nbsp;@Html.ActionLink(Session["Lastname"].ToString(), "Index", "Users")
            </tr>
       
        </table>
        }
            </p>
            
                </div>
            </div>
            <hr />
            <div class="row">
    <div class="col-md-4">
        <div class="pic-frame">
            <img src="https://i.redd.it/z0qxihmous4z.jpg" class="img-responsive picinprofile" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="pic-frame">
            <img src="https://2.bp.blogspot.com/-ISztH6kE0Xg/VwGH-0cCjUI/AAAAAAACG-s/DpyjPE2ToBUutjERhoMvwEdKeJCcThhAA/s1600/Black%2BVelvet%2BGalaxy%2BCake%2B1.jpg" class="img-responsive picinprofile" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="pic-frame">
            <img src="http://img.taste.com.au/sCaoSTnw/taste/2016/11/black-forest-cake-92535-1.jpeg" class="img-responsive picinprofile" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="pic-frame">
            <img src="http://rollycat.com/wp-content/uploads/2014/09/apple-mac-cat-face-like-angel-soul_342655.jpg" class="img-responsive picinprofile" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="pic-frame">
            <img src="https://www.iizcat.com/uploads/2017/04/vwla5-pp3.jpg" class="img-responsive picinprofile" />
        </div>
    </div>
</div>
<style>
    .profile-pic {
        width: 150px;
        height: 150px;
        padding: 10px 10px;
    }

    .profile-frame-pic {
        width: 150px;
        border: 1px solid #808080;
        border-radius: 50%;
        margin-right: 0;
        margin-left: auto;
    }

    .pic-frame {
        margin: 0 auto;
        max-width: 500px;
        height: 300px;
        border: 1px solid #f2f2f2;
    }

    .picinprofile {
        margin: 0 auto;
        padding: 10px 5px;
        height: 300px;
    }

    @@media (max-width: 1024px) {
        .profile-frame-pic {
            width: 150px;
            border: 1px solid #808080;
            border-radius: 50%;
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>