﻿@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="pic-frame">
            <p>Owner's Picture</p>
            <img src="https://i.redd.it/z0qxihmous4z.jpg" class="img-responsive pic" />
            <span class="glyphicon glyphicon-heart"></span> Like
            <p><strong>Username</strong> แคปชั่นจะอยู่ที่คอมเม้นคนแรกเหมือน Instagram</p>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="pic-frame">
        <p>Owner's Picture</p>
        <img src="https://2.bp.blogspot.com/-ISztH6kE0Xg/VwGH-0cCjUI/AAAAAAACG-s/DpyjPE2ToBUutjERhoMvwEdKeJCcThhAA/s1600/Black%2BVelvet%2BGalaxy%2BCake%2B1.jpg" class="img-responsive pic" />
        <span class="glyphicon glyphicon-heart"></span> Like
        <p><strong>Username</strong> Comment detail</p>
    </div>
</div>
<br />
<div class="row">
    <div class="pic-frame">
        <p>Owner's Picture</p>
        <img src="http://img.taste.com.au/sCaoSTnw/taste/2016/11/black-forest-cake-92535-1.jpeg" class="img-responsive pic" />
        <span class="glyphicon glyphicon-heart"></span> Like
        <p><strong>Username</strong> Comment detail sssssssss ssssss sssssstest sssssssssssssssss sdfdf</p>
    </div>
</div>

<style>
    .pic-frame {
        margin: 0 auto;
        max-width: 500px;
        max-height: 500px;
        border: 1px solid #f2f2f2;
    }
    .pic{
        margin: 0 auto;
        padding: 10px 5px;
        max-height: 400px;
    }
</style>